* {
    font-weight: bold;
    margin: 0;
}

@font-face {
    font-family: 'starfield';
    src: url(fonts/Heading-Pro-Light-trial.ttf);
}

@font-face {
    font-family: 'gobold';
    src: url(fonts/Gobold\ Light.otf);
}

@font-face {
    font-family: 'bold-title';
    src: url(fonts/TS\ Block\ Bold.ttf);
}

.total-container {
    display: grid;
    grid-template-columns: 2fr 5fr;
    margin-right: 0;
}

.sidebar {
    background: #213150;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-right: 20px;
}

.colors-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.navy {
    background-color: #304d7a;
    grid-column: 1 / 2;
}

.yellow {
    background: #d7a64b;
    grid-column: 2 / 3;
}

.orange {
    background: #e16136;
    grid-column: 3 / 4;
}

.red {
    background: #c62139;
    grid-column: 4 / 5;
}

.right-sidebar {
    display: grid;
    grid-template-rows: 1fr 5fr;
    gap: 50px;
}

.dashboard-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding-top: 20px;
}

#dashboard-logo {
    width: 70px;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    filter: drop-shadow(1px 1px 5px black);
}

.dashboard-title-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    border: 1px solid white;
}

.dashboard-title {
    text-align: start;
    font-size: 1.5rem;
    color: white;
    border: 1px solid white;
    padding: 5px;
    font-family: 'bold-title';
}

.sub-header {
    font-family: 'starfield';
    font-size: 1rem;
    color: white;
    padding-left: 5px;
    align-self: center;
}


.nav-options {
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    align-items: center;
    row-gap: 20px;
    color: white;
    padding-bottom: 10px;
    font-family: 'bold-title';
}
.nav-link {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    align-items: center;
}

.nav-link:hover {
    color: #d7a64b;
    transition: 0.3s;
}

.sidebar-link {
    font-size: 1.25rem;
}

.sidebar-link:link {
    color: white;
    text-decoration: none;
}

.sidebar-link:visited {
    color: white;
    text-decoration: none;
}

.sidebar-link:hover {
    color: #d7a64b;
    transition: 0.3s;
}

.nav-bar-icon,
.settings-bar-icon {
    width: 30px;
    height: auto;
}

.nav-options,
.settings-options {
    font-size: 25px;
}

.page-container {
    background: #e2e8f0;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    margin: 0;
    box-shadow: 1px 1px 5px -2px black;
}

.search-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.searchbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 15px;
}

.search-icon {
    width: 20px;
    height: auto;
}

#searchbar {
    width: 75%;
    height: 25px;
    border: 0;
    background: white;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.acct-mini-top-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
 
#noti-bell-icon {
    justify-self: end;
    padding: 10px;
}

.acct-name {
    text-align: left;
    padding: 10px;
    font-family: 'starfield';
    font-size: 20px;
}

.pfp-icon {
    width: 40px;
    height: auto;
    justify-self: center;
    padding: 10px;
}

#noti-bell-icon:hover,
.pfp-icon:hover {
    filter: drop-shadow(1px 1px 5px black);
    transition: 0.3s;
    cursor: pointer;
}

.intro-bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}

.pfp {
    width: 70px;
    height: auto;
}

.intro-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:left;
    gap: 15px;
    margin-left: 15px;
}

.greeting {
    font-family: 'starfield';
    font-size: 1rem;
}

.acct-name-full {
    /* font-size: 25px; */
    font-size: 2rem;
    font-family: 'gobold';
}

.action-buttons-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.action-buttons-container input[type='button'] {
    height: 30px;
    width: 100px;
}

.action-btn {
    border-radius: 10px;
    border: 0;
    background-color: #304d7a;
    color: white;
    font-weight: bold;
    filter: drop-shadow(1px 1px 1px black);
    cursor: pointer;
    font-family: 'gobold';
}

.action-btn:hover {
    filter: drop-shadow(1px 1px 5px black);
    transition: 0.3s;
}

.elements-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects {
    display: block;
    box-sizing: border-box;
    padding: 10px;
}

.projects-header {
    align-self: center;
    padding: 10px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.projects-container .card {
    display: flex;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 25%);
    border-radius: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
}

.card:hover {
    box-shadow: 1px 1px 20px black;
    transition: 0.3s;
}

.card-text {
    /* display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 20px; */
    display: flex;
    flex-direction: column;
}

.card-title {
    font-family: 'gobold';
    padding: 10px;
}

.card-content {
    font-family: 'starfield';
    padding: 10px 10px 30px 10px;
}

.card-interaction {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 10px;
    padding-right: 10px;
}

.card-interact {
    width: 30px;
    height: 30px;
    transition: transform ease 300ms;
}

.card-interact:hover {
    transform: translate(0, -5px);
}

.updates-container {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 10px;
}

.announcements {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

hr {
    border: 0;
    height: 1px;
    background: black;
    margin: 10px;
}

.announcements-header {
    align-self: left;
    padding: 10px;
}

.announcements-container {
    display: grid;
    grid-auto-rows: repeat(3, minmax(min-content, max-content));
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 25%);
    background-color: white;
}

.announcement {
    display: grid;
    grid-template-rows: repeat(2, minmax(min-content, max-content)); 
}

.announcement-title,
.trending-username {
    font-family: 'gobold';
    font-size: 15px;
    text-decoration: none;
}

.announcement-title:link,
.trending-username:link {
    color: black;
}

.announcement-title:visited, 
.trending-username:visited {
    color: black;
}

.announcement-title:hover,
.trending-username:hover {
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 20%));
    transition: 0.3s;
}

.announcement-content,
.trending-project-name {
    font-family: 'starfield';
    font-size: 15px;
}

.trending {
    display: grid;
    grid-template-rows: repeat(2, minmax(min-content, max-content)); 
}

.trending-container {
    display: grid;
    grid-auto-rows: repeat(3, minmax(min-content, max-content));
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 25%);
    background-color: white;
}

.account-trending-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.trending-header {
    padding: 10px;
}

.projects-header,
.announcements-header,
.trending-header {
    font-family: 'gobold';
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 75px;
    background-color: #213150;
    color: white;
    text-align: center;
    font-family: 'starfield';
    padding-top: 30px;
}